body {
    background-color: #70EEDF;
}

.contactus-title {
    font-size: 20px;
}

.contactus-form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 5px solid #0e3721;
    border-bottom: 5px solid #0e3721;
    margin-top: 4%;
    animation: bounce 1.5s infinite;
}

::-webkit-input-placeholder {
    font-size: 1.3em;
}

.contactus-title,
.contactus-select {
    display: block;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
}

.contactus-termsConditions {
    margin: 0 auto 5px 80px;
}

.contactus-pageTitle {
    font-size: 2em;
    font-weight: bold;
    color: #07695D;
}

.contactus-secondaryTitle {
    color: #008575;
}

::placeholder {
    font-size: 14px;
}

.contactus-name {
    background-color: #ebebeb;
    color:black;
}

.contactus-name:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.contactus-email {
    background-color: #ebebeb;
    height: 2em;
}

.contactus-email:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;
}

.contactus-message {
    background-color: #ebebeb;
   
    overflow: hidden;
    height: 10rem;
}

.contactus-message:hover {
    border-bottom: 5px solid #0e3721;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
}

.contactus-select {
    border-bottom: 5px solid #0e3721;
    height: 2em;
    background-color: #ebebeb;
    height: 2em;
    display: block;
    font-family: sans-serif;
}

.contactus-query:hover {
    border-bottom: 5px solid #0e3721;
    height: 30px;
    width: 380px;
    transition: ease 0.5s;

}

.contactus-formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 2px;
    border: none;
    transition: all 0.5s ease 0s;
}

.contactus-submit {
    width: 200px;
    color: white;
    background-color: #18B5A3;
    font-size: 20px;

}

.contactus-submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid #18B5A3;
    border-radius: 0%;
}

@keyframes bounce {
    0% {
        transform: translate(0, 4px);
    }

    50% {
        transform: translate(0, 8px);
    }
}
