.groupchat-container{
    background: hsla(152, 100%, 50%, 1);

    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#00FF87", endColorstr="#60EFFF", GradientType=1 );
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.groupchat{
    width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255,255,255,0.7);
    -webkit-backdrop-filter: blur(21px);
    backdrop-filter: blur(21px);
    border: 1px solid rgba(255,255,255,0.35);

}   
.group-btn{
    height: 40px;
    background-color: #008575;
    color: white;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
    margin-top: 20px;
}
.groupchat h4{
    background-color: #008575;
    height: 40px;
    width: 100%;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}