.liked-main3,
.login-forn3 {
    /* margin-top: 60px; */

    position: absolute;
    top: 120px;
}


.card3 {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    cursor: pointer;
    background: white;
    border-radius: 10px;
    padding-bottom: 40px;
    transition: transform .8s;
    width: 23%;
    height: 60%;
    padding-bottom: 30px;

    &::after {
        position: absolute;
        transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);

    }

    &:hover,
    &:focus {
        transform: scale3d(1.1, 1.1, 1);

        &::after {
            opacity: 1;
        }
    }
}

.icon-con3 {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    border-radius: 50%;
    padding: 10px;
    margin: 7px;
    height: auto;
    width: auto;
    /* background: rgba(145, 132, 132, 0.2); */
    background: #18B5A3;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.icons3 {
    height: 22px;
    width: 22px;
    color: #ddd;
    cursor: pointer;
}

.cat3 {
    color: #18B5A3;
}

.read-more-btn3 {
    background-color: white;
    color: green;
}

.myPrductButton3 {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: -40px;
    margin-bottom: 40px;
    justify-content: space-around;
}

.myproductButton3 {
    width: 50%;
    border-bottom-left-radius: 10px;
    background-color: #18B5A3;
    border-right: 1px solid white;
    /* border-bottom-right-radius:10px ; */
}

.myproductButton31 {
    width: 50%;
    /* border-bottom-left-radius: 10px; */
    background-color: #18B5A3;

    border-bottom-right-radius: 10px;
}

.my-product-title3 {
    margin-left: 13%;
    font-size: 30px;
}

.myproductButton3:hover {
    background-color: #008575;
}

.myproductButton31:hover {
    background-color: #008575;
}

.myproduct-container3 {
    background: hsla(181, 98%, 50%, 1);

    background: linear-gradient(90deg, hsla(181, 98%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 0%, hsla(175, 60%, 55%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(181, 98%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 0%, hsla(175, 60%, 55%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(181, 98%, 50%, 1) 0%, hsla(0, 0%, 100%, 1) 0%, hsla(175, 60%, 55%, 1) 100%);
    height: 100vh;
}